.animation{
 width: 500px;
 padding: 20px;
 border: 4px dotted rgb(51, 51, 126);
 margin: 0 auto;
 animation-play-state: paused;
}

.anim_cube{
    width: 50px;
    height: 50px;
    background-color: coral;
    animation-name: cube;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    position: relative;
}
.pause{
    animation-play-state: paused;
}
@keyframes cube{
    0%{
        left: 0;
    }
    50%{
        border-radius: 25px;
    }
    
    100%{
        left: 460px;
    }
}
button{
    width: 100px;
    height: 40px;
    background-color: rgb(44, 80, 44);
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    color: white;
}